

<div class="p-grid about p-m-1">
    <div class="p-md-6 p-sm-12 p-mt-4">
        <h2>¿A que me dedico?</h2>
        <p class="p-text-justify parrafo"> 
            Soy titulado de Ingeniera en Informática, he trabajado como desarrollador Backend y desarrollador Web.
        </p>
        <h2>¿Qué busco como profesional?</h2>
        <p class="p-text-justify parrafo">
            Estoy dispuesto a aprender nuevas tecologías, nuevos conocimientos y crecer como persona y profesional. Atento a nuevas oportunidades y ofertas en el ambiente del desarrollo de Software.
        </p>
        <h2>¿Qué hago actualmente?</h2>
        <p class="p-text-justify parrafo">
         Actualmente me encuentro estudiando el framework Angular para poder desempeñarme en un futuro
         como desarrollador FrontEnd, haciendo uso de esta tecnología.  
        </p>
        <h2>Te cuento un poco sobre mí</h2>
        <p class="p-text-justify parrafo">
            Soy una persona activa que siempre le gusta estar haciendo algo, ya sea algún deporte, estudiar, leer, o jugar videojuegos. 
        </p>
        <p class="p-text-justify parrafo">
            Me gusta mucho los temas espirituales, el esoterismo y todo lo que tenga que ver con buscar nuestra verdad en el mundo. 
        </p>

    <p class="p-text-justify parrafo">
        Me considero una persona responsable que siempre busca lo mejor de sí para entregar a los demás, buscando constantemente la mejor forma de aportar y ayudar a los animales y a la humanidad.
    </p>
    </div>
    
    <div class="p-md-6 p-sm-12  p-mt-4">
        <img src="./assets/imagenes/about-2.jpg" class="imagen-about" alt="Felipe Larraguibel">
    </div>
</div>
