
<div class="p-grid">
    <div class="p-col-4 ">
        <div><img src="./assets/imagenes/about.jpeg" class="about-imagen" alt=""></div>
    </div>

    <div class="p-col-8">
        <br>
        <br>
        <p class="p-text-justify parrafo"> 
            Ingeniero en Informática, responsable y proactivo. Dispuesto a aprender nuevas tecologías, nuevos conocimientos y crecer como persona y profesional. Atento a nuevas oportunidades y ofertas en el ambiente del desarrollo de Software.

        </p>
        <p class="p-text-justify parrafo">
            Soy una persona activa que siempre le gusta estar haciendo algo, ya sea algún deporte, estudiar, leer, o jugar videojuegos. Me gusta mucho los temas espirituales, el esoterismo y todo lo que tenga que ver con buscar nuestra verdad en el mundo. Me considero una persona responsable que siempre busca lo mejor de sí para entregar a los demás, buscando constantemente la mejor forma de aportar y ayudar a los animales y a la humanidad. Trato de aceptar y aprender de mis errores, aunque el camino sea difícil.
        </p>
    </div>
</div>