<div class="p-grid contenedor-p">    
    <div class="p-md-6">
        
        <img src="./assets/imagenes/otecscom-web.png" class="imagenes" alt="otecscom-web">
    
    </div>
    <div class="p-md-6 p-mt-4">
    <h2 class="p-text-center">Otecscom</h2>
    <p class="p-text-justify parrafo">
        Proyecto realizado a la empresa Otecscom el cual consistia en desarrollar un
        nuevo sitio web corporativo, con la posibilidad de vender sus cursos en línea.
        Para ello se hizo uso de la plataforma flow.cl para el proceso de compra.
        Mientras que para el sitio se utilizo como base el framework Laravel.
        El sitio es totalmente administrable por lo que los administradores de otecscom pueden registrar, editar
        y modificar el contenido del sitio.
    </p>    
    <div class="p-d-flex p-jc-center p-mt-2">
        <img src="./assets/imagenes/laravel-logo.png" class="logos" alt="otecscom-web">
        <img src="./assets/imagenes/mysql-logo.png" class="logos" alt="otecscom-web">
        <img src="./assets/imagenes/html-logo.jpg" class="logos" alt="otecscom-web">
      
        
    </div>
</div>

<div class="p-md-6">
    <img src="./assets/imagenes/smb-web.png" class="imagenes" alt="smb-web">
</div>
<div class="p-md-6 p-mt-4">
<h2 class="p-text-center">Santa María de Belén</h2>
<p class="p-text-justify parrafo">
    Sitio web corporativo para el colegio Santa Maria de Belén de Coquimbo.
    Desarrollado en Wordpress, en el cual se suben las noticias correspondientes del colegio.
</p>
<div class="p-d-flex p-jc-center p-mt-2">
    <img src="./assets/imagenes/wordpress-logo.png" class="logos" alt="Smb-web">
</div>
</div>

<div class="p-md-6">
    <img src="./assets/imagenes/detalle-de-amor-web.png" class="imagenes" alt="detalles-de-amor-web">
</div>
<div class="p-md-6 p-mt-4">
<h2 class="p-text-center">Detalles de amor</h2>
<p class="p-text-justify parrafo">
    Sitio Web corporativo para pyme Detalles de amor, dedicada al arreglos de globos, desayunos y arreglos.
    Desarrollada con PHP nativo , javascript, css, Html5, usando como base de datos, Mysql.     
</p>
<div class="p-d-flex p-jc-center p-mt-2">
    <img src="./assets/imagenes/php-logo.png" class="logos" alt="Detalles de amor">
    <img src="./assets/imagenes/html-logo.jpg" class="logos" alt="Detalles de amor">
    <img src="./assets/imagenes/mysql-logo.png" class="logos" alt="Detalles de amor">
</div>
</div>
</div>

